<div class="card">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h1 class="display-4">Ultimas 10 Publicaciones</h1>
        </div>
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>Titulo</td>
                <td>Detalle</td>
                <td>Opciones</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let twitt of twitter'>
                <td>{{twitt.title}}</td>
                <td>{{twitt.body}}</td>
                <td><button class="btn btn-primary" routerLink = '/post/{{twitt.id}}' >Ver Twitt</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>